@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700;900&display=swap');

:root {
  --primary: #FFD700;
  --background: #ffffff;
  --accent: #000000;
  --text_font : 'Montserrat', sans-serif;
  --heading_text: 'Poppins', sans-serif;
  --sm: 30px;
  --md: 60px;
  --lg: 90px;
  --xlg: 120px;
  --xxlg: 150px;
  --sm_gap: 10px;
  --md_gap: 20px;
  --lg_gap: 30px;
}

/*selector classess */
body {
  margin: 0;
  padding: 0;
  font-family: var(--text_font);
  font-weight: normal;
}
h1,h2,h3,h4,h5,h6 {
  font-family: var(--heading_text);
}
.navigation_bar {
  width: 100%;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.55);
  position: absolute;
  top: 0;
}

.container {
  max-width: 1204px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  font-family: var(--heading_text);
  font-weight: normal;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: var(--sm_gap);
  font-family: var(--text_font);
  font-weight: 500;
  text-transform: uppercase;
}
.btn {
  padding: 15px 20px;
  border-radius: 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  color: inherit;
}

.btn_primary {
  background-color: var(--primary);
  margin-right: var(--sm_gap);
  transition: 200ms;
}

.btn_primary:hover {
  background-color: orange;

}
.btn_accent {
  border: 1px solid var(--background);
  transition: 200ms;
}

.btn_accent:hover {
  background-color: #fff;
  color: #000;
}

.hero {
  min-width: 100% !important;
  height: 100vh !important;
  background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url(./assets/hero.jpg);;
  background-position: 0 0,50%;
  background-size: auto,cover;
  padding-bottom: 0!important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}

.hero_content {
  width: 70%;
}

.buttons_hero {
  margin-top: var(--md);
}


a {
  text-decoration: none;
  color: inherit;
}

.title {
  font-family: var(--heading_text);
  font-size: 56px;
  font-weight: 200;
  margin-bottom: 0;
}

.label {
  text-transform: uppercase;
  color: var(--primary);
  font-weight: 700;
}

section {
  margin-left: var(--sm);
  margin-right: var(--sm);
  padding-top: var(--lg);
  padding-bottom: var(--lg);
}

.heading {
  font-weight: 200;
  font-size: 42px;
}

.paragraph {
  font-weight: 500;
  font-size: 16px;
}

.grid_container {
  margin-top: var(--xlg);
}

.about_us_grid {
  display: grid;
  grid-template-columns: 5fr 7fr;
  grid-row: auto;

}
.our_mission_grid {
  display: grid;
  grid-template-columns: 7fr 5fr;
  grid-row: auto;
  margin-top: var(--lg);
}
#image_wrapper {
  min-width: 100%;
  height: 470px;
  background-size: cover;
  background-position: center;
}
.image_wrapper_vision_jpg {
  background-image: url(./assets/vision.jpg);
}

.image_wrapper_mission_jpg {
  background-image: url(./assets/mission.jpg);
}

.text_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
 
}

.heading_small {
  font-size: 36px;
  font-weight: 200;
  margin: 0;
}
/*utility classes*/
.text_primary {
  color: var(--primary);
}

.text_white {
  color: #fff;
}

.text_centered {
  text-align: center;
}

.text_start {
  text-align: start;
}

.padding_left_sm {
  padding-left: var(--sm_gap);
}
.padding_right_sm {
  padding-right: var(--sm_gap);
}