@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700;900&display=swap');

:root {
  --primary: #FFD700;
  --background: #ffffff;
  --accent: #000000;
  --text_font : 'Montserrat', sans-serif;
  --heading_text: 'Poppins', sans-serif;
  --sm: 30px;
  --md: 60px;
  --lg: 90px;
  --xlg: 120px;
  --xxlg: 150px;
  --sm_gap: 10px;
  --md_gap: 20px;
  --lg_gap: 30px;
}

/*selector classess */
body {
  margin: 0;
  padding: 0;
  font-family: var(--text_font);
  font-weight: normal;
}

.navigation_bar {
  width: 100%;
  height: 80px;
  position: absolute;
  top: 0;
}

.container {
  max-width: 1204px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  font-family: var(--heading_text);
  font-weight: normal;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: var(--sm_gap);
  font-family: var(--text_font);
  font-weight: 500;
  text-transform: uppercase;
}
.btn {
  padding: 15px 20px;
  border-radius: 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  color: inherit;
}

.btn_primary {
  background-color: var(--primary);
  margin-right: var(--sm_gap);
}
.btn_accent {
  border: 1px solid var(--accent);
}
/*utility classes*/
.text_primary {
  color: var(--primary);
}